<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WebBone</title>
    <link href="~/MyStyles/TopLayout.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <header>
        <img id="flight-pic" src="~/Pictures/F4O_PNG_100x100.png" />
        <div id="header-inner">
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Design</a></li>
                    <li>@Html.ActionLink("Contact", "OpenContact", "Main")</li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>
        </div>
    </header>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>

